@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<p>Esta es una aplicación sencilla e interesante desarrollada en entity Framewok 4.7 que consume objetos json sobre un listado de albunes</p>

