@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    Valera, Estado Trujillo<br />
    <abbr title="Phone">P:</abbr>
    (+ 58) 424 7321023 / (+58) 271-2351928
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:carlosuerbagt@example.com">carlosuerbagt@example.com</a><br />
</address>