
@{
    ViewBag.Title = "Home Page";
    var albumsList = (IEnumerable<SelectListItem>)ViewBag.AlbumsList;
}



<div class="own-container">

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                @Html.Label("Albums", "Lista de Albunes Disponibles")

                @Html.DropDownList("Albums", albumsList, new { @class = "form-control", id = "albumsSelect" })

            </div>
        </div>

        <div class="col-md-4">
            <button type="button" class="btn btn-info top-button" id="visualizarButton">Visualizar Album</button>

        </div>
    </div>


    <div class="row">
        <div class="col-md-12">

            <div class="own-container">
           
                <div class="card-body">
                    <div class="tablecontainer">
                        <table id="myDatatable" class="display" cellspacing="0" style="width:100%">
                            <thead>
                                <tr>
                                    <th data-priority="1">Titulo</th>
                                    <th>Imagen</th>                                 
                                    <th data-priority="1">Acciones</th>
                                </tr>
                            </thead>
                        </table>
                    

                    </div>
                </div>
            </div>




        </div>
    </div>


</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/App/indexAlbums.js"></script>
}
